* {
    margin: 0;
    padding: 0;
  }

nav{
  height: 3rem;
  background-color:#218c74;
  display: flex;
  align-items: flex-end;
  padding-left: 1rem;
  
}
a{
  text-decoration: none;
  color: white;
  padding: 10px;
  
}
a:hover{
  background-color: white;
  color: #218c74;
}
  #header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
  }
  #header > b {
    padding: 10px 0;
    text-align: center;
    min-width: 100px;
    border: 1px solid #dfe4e9;
  }
  .row {
    display: flex;
  }
  .row > b,
  .row > div {
    padding: 10px 0;
    min-width: 100px;
    border: 1px solid #dfe4e9;
  }
  
  .row > b:first-child {
    text-align: center;
  }
  
  .row > b:first-child {
    background-color: #fff;
    position: sticky;
    left: 0;
  }
  
  #options {
    padding: 10px;
    background-color: #ecf0f1;
  }
  
  #active-cell {
    background-color: white;
    padding: 2px 20px;
  } 

  #body{
    width: fit-content;
  }

